.header__main-color.header__big {
  height: 22.25rem;
}

.header__main-color.header__mini {
  height: 16rem !important;

  transition: var(--trans-m);
}

@media screen and (max-width: 1068px) {
  .header__main-color.header__big {
    height: 27rem;
  }

  .header__main-color.header__big.active {
    height: 22.25rem;
  }
}

@media screen and (max-width: 991px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 22.25rem;
  }

  /* ========== mini ========== */
  .header__main-color.header__mini {
    height: 17rem !important;
  }

  .header__main-color.header__mini.active {
    height: 16rem !important;
  }

  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk,
  .header__main-color.header__mini.header__datainduk.active,
  .header__main-color.header__mini.header__spmi,
  .header__main-color.header__mini.header__spmi.active,
  .header__main-color.header__mini.header__indikator,
  .header__main-color.header__mini.header__indikator.active,
  .header__main-color.header__mini.header__indikator-form,
  .header__main-color.header__mini.header__indikator-form.active,
  .header__main-color.header__mini.header__report,
  .header__main-color.header__mini.header__report.active,
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active {
    height: calc(137px + 103px) !important;
  }
}

@media screen and (max-width: 774px) {
  .header__main-color.header__big.active {
    height: 25.25rem;
  }
}

@media screen and (max-width: 660px) {
  .header__main-color.header__big {
    height: 25rem;
  }
}

@media screen and (max-width: 640px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(137px + 134px) !important;
  }
}

@media screen and (max-width: 592px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(137px + 118px) !important;
  }
}

@media screen and (max-width: 576px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 24rem;
  }

  .header__main-color.header__big.active {
    height: 22.5rem;
  }

  /* ========== mini ========== */
  .header__main-color.header__mini {
    height: 18rem !important;
  }

  .header__main-color.header__mini.active {
    height: 15rem !important;
  }

  .header__main-color.header__mini.header__datainduk,
  .header__main-color.header__mini.header__datainduk.active,
  .header__main-color.header__mini.header__spmi,
  .header__main-color.header__mini.header__spmi.active,
  .header__main-color.header__mini.header__indikator,
  .header__main-color.header__mini.header__indikator.active,
  .header__main-color.header__mini.header__indikator-form,
  .header__main-color.header__mini.header__report,
  .header__main-color.header__mini.header__report.active,
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 96px) !important;
  }

  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(117px + 133px) !important;
  }
}

@media screen and (max-width: 544px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(117px + 117px) !important;
  }
}

@media screen and (max-width: 503px) {
  .header__main-color.header__big.active {
    height: 25.5rem;
  }
}

@media screen and (max-width: 480px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form {
    height: calc(117px + 129px) !important;
  }
}

@media screen and (max-width: 475px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(138px + 129px) !important;
  }
}

@media screen and (max-width: 471px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__dataiduk.active {
    height: calc(117px + 150px) !important;
  }
}

@media screen and (max-width: 468px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk {
    height: calc(117px + 115px) !important;
  }
}

@media screen and (max-width: 448px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(117px + 115px) !important;
  }
}

@media screen and (max-width: 433px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(117px + 148px) !important;
  }
}

@media screen and (max-width: 410px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 114px) !important;
  }
}

@media screen and (max-width: 405px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(117px + 126px) !important;
  }
}

@media screen and (max-width: 403px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(117px + 126px) !important;
  }
}

@media screen and (max-width: 399px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form {
    height: calc(138px + 126px) !important;
  }
}

@media screen and (max-width: 397px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(117px + 147px) !important;
  }
}

@media screen and (max-width: 375px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 29rem;
  }
}

@media screen and (max-width: 372px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report {
    height: calc(117px + 113px) !important;
  }
}

@media screen and (max-width: 357px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(138px + 124px) !important;
  }
}

@media screen and (max-width: 343px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(138px + 145px) !important;
  }
}

@media screen and (max-width: 342px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report {
    height: calc(117px + 145px) !important;
  }
}

@media screen and (max-width: 341px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(117px + 145px) !important;
  }
}

@media screen and (max-width: 337px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(117px + 166px) !important;
  }
}

@media screen and (max-width: 334px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile {
    height: calc(117px + 112px) !important;
  }
}

@media screen and (max-width: 321px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi {
    height: calc(117px + 112px) !important;
  }
}

@media screen and (max-width: 317px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(138px + 144px) !important;
  }
}

@media screen and (max-width: 315px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi {
    height: calc(117px + 144px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(138px + 176px) !important;
  }
}

@media screen and (max-width: 313px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator {
    height: calc(117px + 123px) !important;
  }
}

@media screen and (max-width: 312px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(117px + 176px) !important;
  }
}

@media screen and (max-width: 310px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(138px + 175px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(138px + 207px) !important;
  }
}

@media screen and (max-width: 297px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(117px + 164px) !important;
  }
}

@media screen and (max-width: 294px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(159px + 206px) !important;
  }
}

@media screen and (max-width: 285px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(138px + 164px) !important;
  }
}

@media screen and (max-width: 281px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator {
    height: calc(138px + 122px) !important;
  }
}

@media screen and (max-width: 280px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(138px + 174px) !important;
  }
}

@media screen and (max-width: 279px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(117px + 195px) !important;
  }
}

@media screen and (max-width: 278px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(138px + 195px) !important;
  }
}

@media screen and (max-width: 273px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(138px + 184px) !important;
  }
}

@media screen and (max-width: 267px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator {
    height: calc(138px + 142px) !important;
  }
}

@media screen and (max-width: 262px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 132px) !important;
  }
}

@media screen and (max-width: 261px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk {
    height: calc(117px + 132px) !important;
  }
}

@media screen and (max-width: 257px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(138px + 194px) !important;
  }
}

@media screen and (max-width: 255px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(138px + 132px) !important;
  }
}

@media screen and (max-width: 254px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk {
    height: calc(117px + 163px) !important;
  }
}

@media screen and (max-width: 250px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(138px + 214px) !important;
  }
}

@media screen and (max-width: 242px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(159px + 172px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(180px + 203px) !important;
  }
}

@media screen and (max-width: 241px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form {
    height: calc(138px + 141px) !important;
  }
}

@media screen and (max-width: 239px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(138px + 214px) !important;
  }
}
