@import url(styles.css);

.form__indikator {
  width: 100%;
  margin: auto;
}

.form__indikator form .form__label {
  font-weight: 600;

  padding-right: 2rem;

  text-align: right;
}

.input__group__text {
  font-size: 0.875rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.8);
  background-color: var(--space-cadet);
}

.input__group__text:hover {
  color: var(--white);
}

.button__section {
  display: flex;

  margin-top: 2.625rem;

  align-items: center;
  justify-content: end;
}

.title__body__indikator-u {
  font-weight: 600;

  margin-top: 2.625rem;
  margin-bottom: 1rem;
}

.title__body__indikator-s {
  font-weight: 600;

  margin-top: 0;
  margin-bottom: 2rem;
}

.dokumen__prev {
  display: flex;

  align-items: center;
}

.dokumen__prev img {
  height: 1.5rem;
  margin-right: 0.5rem;
}

.dokumen__name {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .input__group__upload {
    display: none;
  }

  .form-control.form__control {
    border-radius: 0.25rem !important;
  }
}

@media screen and (max-width: 600px) {
  .form__indikator form .form__label {
    text-align: left;
  }

  .button__section {
    margin-top: 0.875rem;
  }

  .button__section .form__btn {
    padding: 0.625rem 0.875rem !important;
  }
}
