@import url(styles.css);

.profile__section {
  display: flex;
}

.profile__section-profile {
  margin-right: 0.75rem;
  padding: 1.5rem 2.625rem 1.875rem;

  border: var(--border-sm);
  border-radius: 0.75rem;

  flex: 0.6;
}

.profile__section-password {
  margin-left: 0.75rem;

  flex: 0.4;
}

.section-password__border {
  padding: 1.5rem 2.625rem 1.875rem;

  border: var(--border-sm);
  border-radius: 0.75rem;
}

.head__hr {
  margin-bottom: 1.5rem;
}

.mb__big {
  margin-bottom: 2.625rem !important;
}

.form__profile button,
.form__change__password button {
  padding: 0.75rem 1.875rem;
}

.img__input-field {
  width: 13.75rem;
}

.img__photo-field {
  width: 11.25rem;
  height: 11.25rem;
  margin-right: 1.5rem;

  border-radius: 0.5rem;
  background-color: var(--lavender);
}

.img__photo-field img {
  width: 100%;
  height: 100%;

  border-radius: 0.5rem;

  object-fit: cover;
  object-position: center;
}

.input-group__photo {
  display: flex;
}

.form__control__photo {
  position: absolute;
  z-index: -1;

  overflow: hidden;

  width: 0.1px;
  height: 0.1px;

  opacity: 0;
}

.form__label__photo {
  padding: 0.75rem 2.25rem;

  cursor: pointer;
}

#photo-notice {
  display: block;

  max-width: 15rem;
  margin-top: 1.25rem;
}

#alert-wrong-photo .color__danger {
  padding: 1rem;

  border-radius: var(--radius-sm);
  background-color: rgba(242, 89, 97, 0.1);
}

.error {
  color: var(--sunset-orange);
}

input.error {
  border: 1px solid var(--sunset-orange) !important;
}

/* password hide */
#oldPassword,
#newPassword,
#newPasswordConfirm {
  padding-right: 3rem !important;
}

#toggleOldPassword svg,
#toggleNewPassword svg,
#toggleNewPasswordConfirm svg {
  z-index: 99;

  color: rgba(79, 79, 79, 0.25) !important;
}

form .position-relative .icon__hide__password {
  font-size: 1rem;

  position: absolute;
  top: 3rem;
  right: 1.5rem;

  transition: var(--trans-m);
}

@media screen and (max-width: 991px) {
  .profile__section {
    flex-direction: column;
  }

  .profile__section-profile {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .profile__section-password {
    margin-left: 0;
  }
}

@media screen and (max-width: 631px) {
  .main__content form .position-relative.confirm__pass .icon__hide__password {
    top: 4.3rem;
  }

  .main__content.minimize__sidebar
    form
    .position-relative.confirm__pass
    .icon__hide__password {
    top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .input-group__photo {
    flex-direction: column;
  }

  .img__input-photo,
  .form__label__photo {
    margin-bottom: 1rem;
  }

  .img__input-field {
    width: 100%;
  }

  #photo-notice {
    max-width: 100%;
    margin-top: 0;
  }

  .img__photo-field {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 576px) {
  .mb__big {
    margin-bottom: 1.875rem !important;
  }

  .form__profile button,
  .form__change__password button,
  .form__label__photo {
    padding: 0.5rem 0.635rem;
  }

  .profile__section-profile,
  .section-password__border {
    padding: 1.5rem 1.5rem 1.625rem;
  }

  .main__content form .position-relative.confirm__pass .icon__hide__password {
    top: 3rem;
  }
}

@media screen and (max-width: 473px) {
  .main__content form .position-relative.confirm__pass .icon__hide__password {
    top: 4.3rem;
  }
}

@media screen and (max-width: 400px) {
  .main__content form .position-relative.old__pass .icon__hide__password {
    top: 4.3rem;
  }

  .main__content.minimize__sidebar
    form
    .position-relative.old__pass
    .icon__hide__password {
    top: 3rem;
  }
}

@media screen and (max-width: 395px) {
  .main__content form .position-relative.new__pass .icon__hide__password {
    top: 4.3rem;
  }

  .main__content.minimize__sidebar
    form
    .position-relative.new__pass
    .icon__hide__password {
    top: 3rem;
  }

  .main__content form .position-relative.confirm__pass .icon__hide__password {
    top: 5.6rem;
  }
}

@media screen and (max-width: 351px) {
  .main__content.minimize__sidebar
    form
    .position-relative.confirm__pass
    .icon__hide__password {
    top: 4.3rem;
  }
}
