html.nav__open {
  overflow: hidden !important;
}

.wrapper__sipmpp {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh;
  overflow: auto;
}

.main__content.minimize__sidebar {
  width: calc(100% - 5.75rem) !important;
}

@media screen and (max-width: 991px) {
  .nav__open .wrapper__sipmpp {
    overflow-x: hidden;
  }

  .main__content {
    width: 100% !important;
  }

  .nav__open .main__content {
    transform: translate3d(18rem, 0, 0) !important;
  }
}

@media screen and (max-width: 576px) {
  .main__content {
    width: 100% !important;
  }
  .nav__open .main__content {
    transform: translate3d(12.375rem, 0, 0) !important;
  }
}
