.header__main-color.header__big {
  height: 22.25rem;
}

@media screen and (max-width: 1181px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi,
  .header__main-color.header__mini.header__indikator,
  .header__main-color.header__mini.header__indikator-form {
    height: calc(149px + 154px) !important;
  }
}

@media screen and (max-width: 1169px) {
  .header__main-color.header__mini.header__spmi.active,
  .header__main-color.header__mini.header__indikator.active,
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(149px + 105px) !important;
  }
}

@media screen and (max-width: 991px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 22.25rem;
  }

  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk,
  .header__main-color.header__mini.header__datainduk.active,
  .header__main-color.header__mini.header__spmi,
  .header__main-color.header__mini.header__spmi.active,
  .header__main-color.header__mini.header__report,
  .header__main-color.header__mini.header__report.active,
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active,
  .header__main-color.header__mini.header__indikator,
  .header__main-color.header__mini.header__indikator.active,
  .header__main-color.header__mini.header__indikator-form,
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(137px + 103px) !important;
  }
}

@media screen and (max-width: 871px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(137px + 143px) !important;
  }
}

@media screen and (max-width: 860px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active,
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(137px + 143px) !important;
  }
}

@media screen and (max-width: 739px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi,
  .header__main-color.header__mini.header__indikator,
  .header__main-color.header__mini.header__indikator-form {
    height: calc(137px + 139px) !important;
  }
}

@media screen and (max-width: 736px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__indikator {
    height: calc(137px + 178px) !important;
  }
}

@media screen and (max-width: 618px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(137px + 118px) !important;
  }
}

@media screen and (max-width: 576px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 24rem;
  }

  .header__main-color.header__mini.header__datainduk,
  .header__main-color.header__mini.header__datainduk.active,
  .header__main-color.header__mini.header__report,
  .header__main-color.header__mini.header__report.active,
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 96px) !important;
  }

  .header__main-color.header__mini.header__spmi,
  .header__main-color.header__mini.header__spmi.active,
  .header__main-color.header__mini.header__indikator,
  .header__main-color.header__mini.header__indikator.active,
  .header__main-color.header__mini.header__indikator-form,
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(117px + 133px) !important;
  }
}

@media screen and (max-width: 570px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(117px + 117px) !important;
  }
}

@media screen and (max-width: 502px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk {
    height: calc(117px + 115px) !important;
  }
}

@media screen and (max-width: 448px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(117px + 115px) !important;
  }
}

@media screen and (max-width: 450px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(117px + 162px) !important;
  }
}

@media screen and (max-width: 444px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 114px) !important;
  }
}

@media screen and (max-width: 440px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active,
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(117px + 162px) !important;
  }
}

@media screen and (max-width: 426px) {
  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(138px + 161px) !important;
  }

  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(117px + 148px) !important;
  }
}

@media screen and (max-width: 416px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(117px + 148px) !important;
  }
}

@media screen and (max-width: 375px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 29rem;
  }
}

@media screen and (max-width: 372px) {
  /* ========== report ========== */
  .header__main-color.header__mini.header__report {
    height: calc(117px + 113px) !important;
  }
}

@media screen and (max-width: 371px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk.active {
    height: calc(117px + 167px) !important;
  }
}

@media screen and (max-width: 358px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi {
    height: calc(117px + 158px) !important;
  }

  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator {
    height: calc(117px + 158px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form {
    height: calc(138px + 158px) !important;
  }
}

@media screen and (max-width: 340px) {
  .header__main-color.header__mini.header__indikator.active {
    height: calc(117px + 177px) !important;
  }
}

@media screen and (max-width: 339px) {
  .header__main-color.header__mini.header__indikator.active {
    height: calc(117px + 209px) !important;
  }
}

@media screen and (max-width: 335px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk {
    height: calc(117px + 145px) !important;
  }
}

@media screen and (max-width: 334px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile {
    height: calc(117px + 112px) !important;
  }
}

@media screen and (max-width: 332px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(117px + 177px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(138px + 177px) !important;
  }
}

@media screen and (max-width: 330px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(117px + 209px) !important;
  }

  .header__main-color.header__mini.header__report.active {
    height: calc(117px + 145px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(138px + 209px) !important;
  }
}

@media screen and (max-width: 316px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(138px + 208px) !important;
  }
}

@media screen and (max-width: 297px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 133px) !important;
  }

  /* ========== report ========== */
  .header__main-color.header__mini.header__report.active {
    height: calc(117px + 164px) !important;
  }
}

@media screen and (max-width: 295px) {
  /* ========== data induk ========== */
  .header__main-color.header__mini.header__datainduk {
    height: calc(117px + 164px) !important;
  }
}

@media screen and (max-width: 294px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(138px + 238px) !important;
  }
}

@media screen and (max-width: 286px) {
  /* ========== standar ========== */
  .header__main-color.header__mini.header__spmi.active {
    height: calc(117px + 238px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(159px + 238px) !important;
  }
}

@media screen and (max-width: 240px) {
  /* ========== indikator ========== */
  .header__main-color.header__mini.header__indikator.active {
    height: calc(138px + 255px) !important;
  }

  /* ========== indikator form ========== */
  .header__main-color.header__mini.header__indikator-form.active {
    height: calc(159px + 255px) !important;
  }
}
