/* @import url(styles.css); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");

p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: "Work Sans", sans-serif !important;
}

input {
  font-size: 0.875rem !important;
}

.form-group label i {
  font-size: 1.125rem !important;

  color: rgba(0, 0, 0, 0.8);
}

.main.main__register {
  position: relative;

  display: flex;

  min-height: 100vh;
  padding-top: 6.25rem;
  padding-bottom: 9.375rem;

  background: url(/assets/img/photo-background-4.png) no-repeat center center
    fixed;
  background-size: cover;

  align-items: center;
  justify-content: center;
}

.signup-form.signup__form {
  overflow: visible;

  margin-right: 4rem;
  margin-left: 4rem;
}

.signup-form.signup__form .form-title {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  -ms-hyphens: auto;
}

.signup__caption {
  position: absolute;
  top: 2rem;
  right: 2.5rem;
}

.logo__sipmpp__content {
  display: flex;

  align-items: center;
}

.logo__sipmpp__content img {
  display: block;

  height: 1.875rem;
  margin-right: 0.75rem;
}

.logo__sipmpp__content p {
  font-size: 1.375rem;
  font-weight: 700;

  margin-bottom: 0;

  letter-spacing: 0.03em;

  color: rgba(0, 0, 0, 1);
}

.signup-image.signup__image {
  margin-top: 4.5rem;
}

.container.container__register {
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.6);
}

.form-group.form-button #signup {
  font-size: 0.875rem !important;
  font-weight: 500 !important;

  padding: 0.75rem 2rem !important;
}

.btn__dark {
  transition: all 0.3s ease-in-out;

  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(38, 48, 77, 0.9);
}

.btn__dark:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(38, 48, 77, 1);
}

footer {
  position: absolute;
  right: 0;
  bottom: 1rem;
  left: 0;

  padding: 0 1.75rem;
}

footer p {
  text-align: center;

  color: rgba(255, 255, 255, 0.6);
}

.footer__caption p svg,
.footer__caption p i {
  color: rgba(242, 89, 97, 0.6);
}

/* ========== tablet view ========== */
@media screen and (max-width: 768px) {
  .signup-form.signup__form {
    margin-right: 0;
    margin-left: 0;
  }

  .signup__caption {
    left: 2.5rem;
  }

  .logo__sipmpp__content {
    justify-content: center;
  }

  .main.main__register .signup-content {
    padding-top: 6rem;
    padding-bottom: 3rem;
  }

  .signup-image.signup__image {
    display: none;
  }

  .container.container__register {
    width: 70%;
  }
}

/* ========== moible view ========== */

@media screen and (max-width: 576px) {
  .container.container__register {
    width: 90%;
  }

  .container.container__register .form-title {
    font-size: 1.875rem;
  }

  .signup__caption {
    right: 0;
    left: 0;
  }
}

/* ========== conditional view ========== */
@media screen and (max-width: 360px) {
  .main.main__register {
    padding-bottom: 11.25rem;
  }
}
