.header__main-color.header__big {
  height: 22.25rem;
}

.header__main-color.header__mini {
  height: 16rem !important;

  transition: var(--trans-m);
}

@media screen and (max-width: 1021px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 27rem;
  }
}

@media screen and (max-width: 991px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 24rem;
  }

  .header__main-color.header__big.active {
    height: 22.25rem;
  }

  /* ========== unit ========== */
  .header__main-color.header__mini.header__unit,
  .header__main-color.header__mini.header__unit.active,
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active {
    height: calc(137px + 103px) !important;
  }
}

@media screen and (max-width: 739px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 27rem;
  }
}

@media screen and (max-width: 622px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 27rem;
  }
}

@media screen and (max-width: 601px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 29rem;
  }
}

@media screen and (max-width: 576px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 26rem;
  }

  .header__main-color.header__big.active {
    height: 26rem;
  }

  .header__main-color.header__mini.header__unit,
  .header__main-color.header__mini.header__unit.active,
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 96px) !important;
  }
}

@media screen and (max-width: 541px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 29rem;
  }
}

@media screen and (max-width: 475px) {
  /* ========== unit ========== */
  .header__main-color.header__mini.header__unit.active {
    height: calc(117px + 115px) !important;
  }
}

@media screen and (max-width: 445px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 28rem;
  }
}

@media screen and (max-width: 444px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 114px) !important;
  }
}

@media screen and (max-width: 407px) {
  /* ========== unit ========== */
  .header__main-color.header__mini.header__unit {
    height: calc(117px + 114px) !important;
  }
}

@media screen and (max-width: 349px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 33rem;
  }
}

@media screen and (max-width: 334px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile {
    height: calc(117px + 112px) !important;
  }
}

@media screen and (max-width: 308px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 29rem;
  }
}

@media screen and (max-width: 297px) {
  /* ========== unit ========== */
  .header__main-color.header__mini.header__unit.active,
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 133px) !important;
  }
}

@media screen and (max-width: 293px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(138px + 133px) !important;
  }
}

@media screen and (max-width: 276px) {
  /* ========== unit ========== */
  .header__main-color.header__mini.header__unit.active {
    height: calc(138px + 132px) !important;
  }
}

@media screen and (max-width: 262px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 32.5rem;
  }
}

@media screen and (max-width: 241px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 38rem;
  }
}
