.header__main-color.header__big {
  height: 22.25rem;
}

@media screen and (max-width: 991px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 22rem;
  }

  .header__main-color.header__big.active {
    height: 22.25rem;
  }

  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active,
  .header__main-color.header__mini.header__daftarUser,
  .header__main-color.header__mini.header__daftarUser.active,
  .header__main-color.header__mini.header__addUserForm,
  .header__main-color.header__mini.header__addUserForm.active,
  .header__main-color.header__mini.header__addBasicUserForm,
  .header__main-color.header__mini.header__addBasicUserForm.active,
  .header__main-color.header__mini.header__auditor,
  .header__main-color.header__mini.header__auditor.active,
  .header__main-color.header__mini.header__addAuditor,
  .header__main-color.header__mini.header__addAuditor.active,
  .header__main-color.header__mini.header__unit,
  .header__main-color.header__mini.header__unit.active {
    height: calc(137px + 103px) !important;
  }
}

@media screen and (max-width: 576px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 21rem;
  }

  .header__main-color.header__big.active {
    height: 21.5rem;
  }

  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile,
  .header__main-color.header__mini.header__profile.active,
  .header__main-color.header__mini.header__daftarUser,
  .header__main-color.header__mini.header__daftarUser.active,
  .header__main-color.header__mini.header__addUserForm,
  .header__main-color.header__mini.header__addUserForm.active,
  .header__main-color.header__mini.header__addBasicUserForm,
  .header__main-color.header__mini.header__addBasicUserForm.active,
  .header__main-color.header__mini.header__auditor,
  .header__main-color.header__mini.header__auditor.active,
  .header__main-color.header__mini.header__addAuditor,
  .header__main-color.header__mini.header__addAuditor.active,
  .header__main-color.header__mini.header__unit,
  .header__main-color.header__mini.header__unit.active {
    height: calc(117px + 96px) !important;
  }
}

@media screen and (max-width: 521px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 23rem;
  }
}

@media screen and (max-width: 484px) {
  .header__main-color.header__mini.header__daftarUser.active {
    height: calc(117px + 115px) !important;
  }
}

@media screen and (max-width: 456px) {
  .header__main-color.header__mini.header__auditor.active {
    height: calc(117px + 115px) !important;
  }
}

@media screen and (max-width: 448px) {
  .header__main-color.header__mini.header__addUserForm.active {
    height: calc(138px + 93px) !important;
  }
}

@media screen and (max-width: 438px) {
  .header__main-color.header__mini.header__addBasicUserForm.active {
    height: calc(138px + 93px) !important;
  }
}

@media screen and (max-width: 430px) {
  .header__main-color.header__mini.header__unit.active {
    height: calc(117px + 114px) !important;
  }
}

@media screen and (max-width: 426px) {
  /* ========== big ========== */
  .header__main-color.header__big {
    height: 22rem;
  }
}

@media screen and (max-width: 421px) {
  .header__main-color.header__mini.header__addAuditor.active {
    height: calc(138px + 93px) !important;
  }
}

@media screen and (max-width: 408px) {
  .header__main-color.header__mini.header__addBasicUserForm.active {
    height: calc(138px + 114px) !important;
  }
}

@media screen and (max-width: 403px) {
  .header__main-color.header__mini.header__daftarUser {
    height: calc(117px + 114px) !important;
  }
}

@media screen and (max-width: 391px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(117px + 113px) !important;
  }
}

@media screen and (max-width: 390px) {
  .header__main-color.header__mini.header__addAuditor.active {
    height: calc(138px + 113px) !important;
  }
}

@media screen and (max-width: 380px) {
  .header__main-color.header__mini.header__auditor {
    height: calc(117px + 113px) !important;
  }
}

@media screen and (max-width: 372px) {
  /* ========== big ========== */
  .header__main-color.header__mini.header__addUserForm {
    height: calc(138px + 92px) !important;
  }
}

@media screen and (max-width: 371px) {
  .header__main-color.header__mini.header__addUserForm.active {
    height: calc(138px + 113px) !important;
  }
}

@media screen and (max-width: 362px) {
  .header__main-color.header__mini.header__addBasicUserForm {
    height: calc(138px + 92px) !important;
  }
}

@media screen and (max-width: 354px) {
  .header__main-color.header__mini.header__unit {
    height: calc(117px + 113px) !important;
  }
}

@media screen and (max-width: 345px) {
  .header__main-color.header__mini.header__addAuditor {
    height: calc(138px + 92px) !important;
  }
}

@media screen and (max-width: 334px) {
  .header__main-color.header__mini.header__daftarUser.active {
    height: calc(138px + 112px) !important;
  }
}

@media screen and (max-width: 333px) {
  /* ========== big ========== */
  .header__main-color.header__big.active {
    height: 25rem;
  }

  .header__main-color.header__mini.header__addBasicUserForm {
    height: calc(138px + 112px) !important;
  }
}

@media screen and (max-width: 323px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile {
    height: calc(117px + 116px) !important;
  }
}

@media screen and (max-width: 334px) {
  .header__main-color.header__mini.header__daftarUser.active {
    height: calc(138px + 112px) !important;
  }
}

@media screen and (max-width: 314px) {
  .header__main-color.header__mini.header__addAuditor {
    height: calc(138px + 112px) !important;
  }
}

@media screen and (max-width: 308px) {
  .header__main-color.header__mini.header__daftarUser.active,
  .header__main-color.header__mini.header__auditor.active {
    height: calc(138px + 133px) !important;
  }
}

@media screen and (max-width: 301px) {
  .header__main-color.header__mini.header__addAuditor.active {
    height: calc(138px + 133px) !important;
  }
}

@media screen and (max-width: 295px) {
  .header__main-color.header__mini.header__addUserForm {
    height: calc(138px + 112px) !important;
  }

  .header__main-color.header__mini.header__addUserForm.active {
    height: calc(159px + 112px) !important;
  }
}

@media screen and (max-width: 305px) {
  .header__main-color.header__mini.header__addBasicUserForm.active {
    height: calc(138px + 165px) !important;
  }
}

@media screen and (max-width: 289px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(138px + 112px) !important;
  }

  /* ========== big ========== */
  .header__main-color.header__big {
    height: 23rem;
  }

  .header__main-color.header__mini.header__unit.active {
    height: calc(117px + 133px) !important;
  }
}

@media screen and (max-width: 287px) {
  .header__main-color.header__mini.header__addUserForm.active {
    height: calc(159px + 133px) !important;
  }
}

@media screen and (max-width: 284px) {
  .header__main-color.header__mini.header__addBasicUserForm.active {
    height: calc(159px + 164px) !important;
  }

  .header__main-color.header__mini.header__addAuditor.active {
    height: calc(159px + 133px) !important;
  }
}

@media screen and (max-width: 281px) {
  .header__main-color.header__mini.header__unit.active {
    height: calc(138px + 133px) !important;
  }
}

@media screen and (max-width: 268px) {
  .header__main-color.header__mini.header__addAuditor.active {
    height: calc(159px + 163px) !important;
  }
}

@media screen and (max-width: 266px) {
  .header__main-color.header__mini.header__daftarUser.active {
    height: calc(138px + 163px) !important;
  }
}

@media screen and (max-width: 259px) {
  /* ========== profile ========== */
  .header__main-color.header__mini.header__profile.active {
    height: calc(138px + 132px) !important;
  }
}

@media screen and (max-width: 256px) {
  .header__main-color.header__mini.header__daftarUser.active {
    height: calc(138px + 184px) !important;
  }
}

@media screen and (max-width: 254px) {
  .header__main-color.header__mini.header__daftarUser {
    height: calc(138px + 110px) !important;
  }
}

@media screen and (max-width: 248px) {
  .header__main-color.header__mini.header__auditor.active {
    height: calc(138px + 153px) !important;
  }
}

@media screen and (max-width: 237px) {
  .header__main-color.header__mini.header__addUserForm.active {
    height: calc(180px + 132px) !important;
  }
}
