@import url(styles-admin.css);

.form__add__user {
  width: 100%;
  margin: auto;
}

.form__add__user form .form__label {
  font-weight: 600;

  padding-right: 2rem;

  text-align: right;
}

.input__group__text {
  font-size: 0.875rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.8);
  background-color: var(--space-cadet);
}

.input__group__text:hover {
  color: var(--white);
}

.button__section {
  display: flex;

  margin-top: 2.625rem;

  align-items: center;
  justify-content: end;
}

@media screen and (max-width: 600px) {
  .form__add__user form .form__label {
    text-align: left;
  }

  .form__add__user form .button__section {
    margin-top: 1.5rem;
  }
}
