@import url(styles-admin.css);
/* ========== table ========== */
.table__datainduk__content tbody tr:hover {
  background-color: rgba(38, 48, 77, 0.1) !important;
}

.table__datainduk__content tr th:first-child,
.table__datainduk__content tr td:first-child,
.table__datainduk__content tr th:last-child,
.table__datainduk__content tr td:last-child,
.table__datainduk__content tr th:nth-child(2),
.table__datainduk__content tr td:nth-child(2) {
  text-align: center;
}

.table__datainduk__content tbody tr:last-child {
  border-bottom: none;
  border-bottom-style: hidden;
}

.table__datainduk-number {
  width: 7%;
}

.table__datainduk-kode {
  width: 12%;
  min-width: 6.25rem;
}

.table__datainduk-aksi {
  width: 20%;
  min-width: 8.75rem;
}

.table__datainduk-kebutuhan-data {
  width: 61%;
  min-width: 12.5rem;
}

.table__datainduk__content thead tr th,
.table__datainduk__content tbody tr td {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.sipmpp__table tr td .edit__data__induk__icon svg {
  color: rgba(21, 114, 232, 1);
}

.sipmpp__table tr td .delete__data__induk__icon svg {
  color: var(--danger-color);
}

.filter__btn {
  padding: 0.75rem 1rem !important;
  border-radius: var(--radius-sm) !important;
  background-color: var(--light-color) !important;
  border: var(--border-sm) !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

.filter__btn:hover {
  color: var(--black) !important;
}

.filter__btn.active {
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: 500 !important;
  background-color: rgba(38, 48, 77, 0.9) !important;
}

.filter__btn.active:hover {
  color: var(--white) !important;
  background-color: var(--dark-main-color) !important;
}

@media screen and (max-width: 1024px) {
  /* ========== filter btn ========== */
  .filter__btn {
    padding: 0.5rem 0.875rem !important;
  }
}

@media screen and (max-width: 991px) {
  .filter__btn {
    flex: 0.5;
  }

  .filter__btn:first-child {
    margin-right: 0.625rem !important;
  }
  .filter__btn:last-child {
    margin-left: 0.625rem !important;
  }
}

@media screen and (max-width: 576px) {
  .nav.nav-pills {
    flex-direction: column;
  }
  .filter__btn {
    width: 100%;
  }

  .filter__btn:first-child {
    margin-bottom: 0.75rem !important;
    margin-right: 0 !important;
    width: 100%;
  }

  .filter__btn:last-child {
    margin-left: 0 !important;
    width: 100%;
  }
}
