@import url(styles-admin.css);

.form__add__user {
  width: 100%;
  margin: auto;
}

.form__add__user form .form__label {
  font-weight: 600;

  padding-right: 2rem;

  text-align: right;
}

.input__group__text {
  font-size: 0.875rem;

  transition: var(--trans-m);

  color: rgba(255, 255, 255, 0.8);
  background-color: var(--space-cadet);
}

.input__group__text:hover {
  color: var(--white);
}

.button__section {
  display: flex;

  margin-top: 2.625rem;

  align-items: center;
  justify-content: end;
}

.position-relative > #password {
  padding-right: 2.75rem;
}

#togglePassword svg {
  font-size: 1rem;

  position: absolute;
  z-index: 99;
  top: 1.125rem;
  right: 1.75rem;

  transition: var(--trans-m);

  color: rgba(79, 79, 79, 0.25) !important;
}

@media screen and (max-width: 768px) {
  .form__add__user form .form__label {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .form__add__user form .form__label {
    text-align: left;
  }

  .button__section {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .button__section {
    margin-top: 1.5rem;
  }
}
